<div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1> this is the prodcuts index page </h1>
            </div>
            <div class="col-lg-3">
                <h1> this is the prodcuts index page </h1>
            </div>
            <div class="col-lg-3">
                <h1> this is the prodcuts index page </h1>
            </div>
            <div class="col-lg-3">
                <h1> this is the prodcuts index page </h1>
            </div>
        </div>
</div